@import "tailwindcss";

/* Theme base */
:root {
  --primary: #60A5FA;
  --text-dark: #1f2937;
  --border: #E5E7EB;
}

html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #ffffff;
  color: var(--text-dark);
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

